<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Edit location <b>{{location.streetAddress}}</b></h2>
    </div>
    <div class="panel-body">
        <ng-form name="locationAddForm">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': locationAddForm.stateProvince.$invalid }">
                        <label for="stateProvince">State Province:</label>
                        <input type="text" id="stateProvince" name="stateProvince" class="form-control" ng-model="location.stateProvince" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': locationAddForm.city.$invalid }">
                        <label for="city">City:</label>
                        <input type="text" id="city" name="city" class="form-control" ng-model="location.city" required />
                        <span class="help-block" ng-show="locationAddForm.city.$error.required
                             && locationAddForm.city.$dirty">{{requiredErrorMessage}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': locationAddForm.postalCode.$invalid }">
                        <label for="postalCode">Postal Code:</label>
                        <input type="text" id="postalCode" name="postalCode" class="form-control" ng-model="location.postalCode" required/>
                        <span class="help-block" ng-show="locationAddForm.postalCode.$error.required
                             && locationAddForm.postalCode.$dirty">{{requiredErrorMessage}}</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': locationAddForm.streetAddress.$invalid }">
                        <label for="city">Street Address:</label>
                        <input type="text" id="streetAddress" name="streetAddress" class="form-control" ng-model="location.streetAddress" required />
                        <span class="help-block" ng-show="locationAddForm.streetAddress.$error.required
                             && locationAddForm.streetAddress.$dirty">{{requiredErrorMessage}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group text-center">
                        <a class="btn btn-primary" role="button" ng-click="save(location)" data-ng-disabled="locationAddForm.$invalid">Save</a>
                        <a class="btn btn-danger" role="button" ng-click="reset()">Reset</a>
                    </div>
                </div>
            </div>
        </ng-form>
    </div>
</div>