<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Edit job <b>{{job.jobTitle}}</b></h2>
    </div>
    <div class="panel-body">
        <ng-form name="jobEditForm">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': jobEditForm.jobId.$invalid }">
                        <label for="jobId">Id:</label>
                        <input type="text" id="jobId" name="jobId" class="form-control" ng-model="job.jobId" required />
                        <span class="help-block" ng-show="jobEditForm.jobId.$error.required
                             && jobEditForm.jobId.$dirty">{{requiredErrorMessage}}</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': jobEditForm.jobTitle.$invalid }">
                        <label for="jobTitle">Job Title:</label>
                        <input type="text" id="jobTitle" name="jobTitle" class="form-control" ng-model="job.jobTitle" required />
                        <span class="help-block" ng-show="jobEditForm.jobTitle.$error.required
                             && jobEditForm.jobTitle.$dirty">{{requiredErrorMessage}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': jobEditForm.maxSalary.$invalid }">
                        <label for="maxSalary">Maximum Salary:</label>
                        <input type="number" id="maxSalary" name="maxSalary" class="form-control" ng-model="job.maxSalary" required />
                        <span class="help-block" ng-show="jobEditForm.maxSalary.$error.required
                             && jobEditForm.maxSalary.$dirty">{{requiredErrorMessage}}</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': jobEditForm.minSalary.$invalid }">
                        <label for="minSalary">Minimum Salary:</label>
                        <input type="number" id="minSalary" name="minSalary" class="form-control" ng-model="job.minSalary" required />
                        <span class="help-block" ng-show="jobEditForm.minSalary.$error.required
                             && jobEditForm.minSalary.$dirty">{{requiredErrorMessage}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group text-center">
                        <a class="btn btn-primary" role="button" ng-click="save(job)" data-ng-disabled="jobEditForm.$invalid">Save</a>
                        <a class="btn btn-danger" role="button" ng-click="reset()">Reset</a>
                    </div>
                </div>
            </div>
        </ng-form>
    </div>
</div>