<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">View job <b>{{job.jobTitle}}</b></h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="jobId">Id:</label>
                    <span id="jobId" class="form-control">{{job.jobId}}</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="jobTitle">Job Title:</label>
                    <span id="jobTitle" class="form-control">{{job.jobTitle}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="maxSalary">Maximum Salary:</label>
                    <span id="maxSalary" class="form-control">{{job.maxSalary}}</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="minSalary">Minimum Salary:</label>
                    <span id="minSalary" class="form-control">{{job.minSalary}}</span>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group text-center">
                    <button class="btn btn-primary" ng-click="back()">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>